<div class="col-xs-12 col-md-8">
  <div class="row">
    <div class="col-xs-12">
      <h3>Listado de Eventos</h3>
    </div>
  </div>
  <div class="row">
    <% events.each do |event| %>
      <div class="col-sx-12 col-md-6">
        <div class="panel panel-default">
          <%= link_to event_path(event) do %>
            <%= image_tag event.image, class: "img-responsive event-image" %>
          <%end%>
          <div class="twitter">
            <%if !event.schedules.empty?%>
              <%=link_to twitter_share(event) do%>
                <%= image_tag 'twitter.png'%>
              <%end%>
            <%end%>
          </div>
          <div class="nearest_day">
            <%if !event.schedules.empty?%>
                <p class="bg-primary"><%=event.schedules.first.date.strftime("%d/%m/%Y") %> @ <%=event.schedules.first.date.strftime("%H:%M") %></p>
            <%else%>
                <p class="bg-info">Sin Programación</p>
            <%end%>
            </div>
          <div class="caption" class="col-xs-6 col-md-12">
            <h4><%= event.title %></h4>
            <h5><%= event.place.name%> | <%= event.category.name%> </h5>
            <p>
              <%= link_to 'Detalles', event_path(event), class: "btn btn-primary", role:"button"%>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 text-center">
    <%= paginate events%>
  </div>
</div>



<aside class="col-xs-12 col-md-4">
  <div class="row">
    <div class="col-xs-12">
      <h3>Eventos destacados</h3>
    </div>
  </div>
  <div class="row">

    <div class="col-xs-12">
      <ul class="event-list">
        <% @featureds.each do |featured| %>
          <li>
            <%= link_to event_path(featured) do %>
                <%= image_tag featured.image, class: "img-responsive" %>
            <%end%>
            <div class="info">
              <h4><%= featured.title %></h4>
              <h5><%= featured.description.truncate(25) %></h5>
              <h6>
                  <%= featured.schedules.first.date.strftime("%d/%m/%Y") %>
                  <%= featured.schedules.first.date.strftime("%H:%M") %>
              </h6>
              <%= number_to_currency(featured.schedules.first.price) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to new_event_path, class:"add_event", id:"add_event" do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  <%end%>

</aside>



