<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="col-xs-12 col-md-8">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= f.text_field :title %></h1>
      </div>
      <%= f.text_area :description %>
    </div>
  </div>
  <aside class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-12">
        <%= f.text_field :image %>
        <%= f.text_field :featured %>
        <%= f.collection_select(:place_id, @places, :id, :name, prompt: true) %>
        <%= f.collection_select(:category_id, @categories, :id, :name, prompt: true) %>
      </div>
    </div>
  </aside>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
