<div class="col-xs-12 col-md-8">
  <div class="row">
    <div class="col-xs-12">
      <h3>Events List</h3>
    </div>
  <% @events.each do |event| %>
    <div class="col-sx-12 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="..." class="col-xs-6 col-md-12">
        <div class="caption" class="col-xs-6 col-md-12">
          <h4><%= event.title %></h4>
          <h5><%= event.place.name%></h5>
          <p>
            <%= link_to 'Details', event_path(event), class: "btn btn-default", role:"button"%>
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
        </div>
      </div>
    </div>
      <%#= event.image %>
  <% end %>
  </div>
  <%= paginate @events%>
</div>
<aside class="col-xs-12 col-md-4">
  <div class="row">
    <div class="col-xs-12">
      <h3>Featured Events</h3>
    </div>
    <div class="col-xs-12">
      <% @featureds.each do |featured| %>
          <%= featured.title %>
          <%= featured.image %>
      <% end %>
    </div>
  </div>
  <%= link_to 'New Event', new_event_path %>

</aside>


